body{
 
    margin: 0;
   
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
   }
    @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Open+Sans:wght@400;500;800&family=Poppins&family=Rubik:wght@500&family=Ysabeau+Office:wght@200&display=swap');
/*nav related style*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    font-family: 'Poppins', sans-serif;

}
header{
    background: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav>ul{
    display: flex;
 align-items: center;
 justify-content: space-around;


}
nav  h3{
   
    font-size: 55px;
    font-weight: 800;
    color: black;
}
nav h3 span{
    color: #FD6E0A;
}
nav li a{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: none;
color: var(--white-color, #FFF);
font-family: Open Sans;
font-size: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 700;
padding: 12px 36px;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .profile-picture{
    width: 500px;
}
/*banner*/
.banner-greeting{
    font-size: 55px;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.banner-dis{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
}
.banner-content{
    max-width: 500px;
}
/*main section styles*/
/*about section styles*/
.about{
    padding: 120px;
    
    
    background: #f2e2d6;
    margin: 130px 0;
    border: solid black 2px;
}
.section-title{
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: normal;
}
.about-des{
    color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 400;
line-height: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-weight: 400;
}
.section-description{
    padding: 20px 150px;
text-align: center;}
/* main section*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 30px;
}
/*skill related styles*/
.skill-container{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-des{
 padding-top: 20px;
 line-height: 30px;
}
/* resume section*/
.section-title{
    color: var(--dark-01, #181818);
text-align: center;

font-size: 35px;

font-weight: 700;
line-height: normal;
}
.resume-item-title{
    color: var(--dark-02, #474747);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-item-institute{
    color: var(--dark-03, #757575);

font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 0;
margin-bottom: 20px;
}
.resume-item-des{
    color: var(--dark-03, #757575);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-right: 30%;
}
.resume-container hr{
    background: #D1D1D1;
}
.download-cv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.download{
    padding: 20px 30px;
    background-color: #FD6E0A;
    text-align: center;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    font-weight: 600;
}
/* footer styles*/
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    
}
.footer-column{
    width: 50%;
}
footer input{
    display: block;
    margin-bottom: 30px;
}
footer input,textarea{
    padding: 18px 45px;
    resize: none;
    border: none;
    width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 5px;
}
footer button{
    padding: 12px 27px;
    background: #FD6E0A;
    border: none;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: white;
    display: block;
    border-radius: 5px;
   
}
footer .section-title{
    text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-column .social-link a{
    margin-right: 25px;
    font-size: 30px;
}
.section-des:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--dark-02, #474747);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-right: 20%;
}
.footer-column:nth-child(1){
    margin-right: 20px;
}